.login {
    height: calc(100vh - 64px);
}

.calendar {
    width: 80%;
    margin: 24px auto;
}

.ant-picker-calendar-date-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ant-picker-cell{
    border:1px solid rgba(0,0,0,.1);
}